@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.mmg {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 150px;
    left: 30px;
}

.yff {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 190px;
    left: 35px;
}

.chaa {
    display: flex;
    width: 1200px;
    padding: 11px 50px; 
    align-items: center;
    border-radius: 8px;
    background: #299D91;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 230px;
    left: 50px;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden; 
}

.chai {
    display: flex;
    width: 1200px; 
    padding: 11px 50px; 
    align-items: center;
    border-radius: 8px;
    background: #299D91;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden; 
}

.navitems {
    padding: 15px;
    position: absolute;
    top: 65px;
    font-size: 13px;
    font-weight: 500;
    background-color: #ffffff;
    width: 100%; /* Use full width */
    max-width: 1600px; /* Set a maximum width */
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .navitems > span {
    padding: 0 90px; /* Adjust padding */
  }
  
  
  
  @media screen and (max-width: 768px) {
    .navitems {
      padding: 10px;
    }
  
    .navitems > span {
      padding: 0 5px; /* Adjust padding for smaller screens */
    }
  }