@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  div {
    text-align: center; 
  }
  
  .help {
    font-size: 18px;
    font-weight: bold;
    margin-top: 150px;
  }
  

  .issue {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 240px;
  }
  
 
  .sbox {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
 
  .sbox input {
    padding: 0 10px;
    width: 25%;
    height: 45px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .issues {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 240px;
  }
  
  .bbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  } 

  .bbox input {
    padding-bottom: 65px;
    padding-left: 10px;
    width: 25%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;

  }
  
  
  .buttonhelp {
    margin-top: 20px;
  }
  
  
  .buttonhelp button {
    font-weight: 600;
    width: 120px;
    height: 35px;
    padding: 0px 20px;
    font-size: 20px;
    background-color: #299D91;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .buttonhelp button:hover{
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    color: #299D91;
  }
  
