@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.farmreports{
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 90px;
  left: 75px;

}

.feedreports{
  font-size: 16px;
  font-weight: 300; 
  position: absolute;
  top: 120px;
  left: 95px; 
}

.feed{
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  width: 950px;
  position: absolute;
  left: 125px;
  top: 150px;
}
 
th,td{
  width: 950px;
  height: 35px;
  font-size: 16px;
  font-weight: 200;
}

.medicinereports{
  font-size: 16px;
  font-weight: 300; 
  position: absolute;
  top: 280px;
  left: 95px; 

}

.medicine{
  width: 1050px;
  position: absolute;
  left: 125px;
  top: 315px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}

.mortalityreports{
  font-size: 16px;
  font-weight: 300; 
  position: absolute;
  top: 440px;
  left: 95px; 
}

.mortality{
  width: 1050px;
  position: absolute;
  left: 125px;
  top: 475px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}