@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.fmq {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 170px;
    left: 30px;
}

.yfw {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 200px;
    left: 35px;
}

.erty {
    color:#fff;
    display: flex;
    width: 1200px;
    padding: 11px 50px; 
    align-items: center;
    border-radius: 8px;
    background: #299D91;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 240px;
    left: 50px;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden; 
}

.chui{
    color:#fff;
    display: flex;
    width: 1200px; 
    padding: 11px 50px; 
    align-items: center;
    border-radius: 8px;
    background: #299D91;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden; 
}

.adfd{
    text-decoration: none;
  }
  
  .fdm{
    text-decoration: none;
  }
  
  .mdm{
    text-decoration: none;
  }
  
  .mot{
    text-decoration: none;
  }
  
  .hps{
    text-decoration: none;
  }