@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 25%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}

.navitems {
  padding: 15px;
  position: absolute;
  top: 65px;
  font-size: 13px;
  font-weight: 500;
  background-color: #ffffff;
  width: 100%; 
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navitems span { 
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  padding: 0 80px;
}

.adfd{
  text-decoration: none;
}

.fdm{
  text-decoration: none;
}

.mdm{
  text-decoration: none;
}

.mot{
  text-decoration: none;
}

.hps{
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  img {
    width: 50%; /* Adjust image width for smaller screens */
    margin-top: 50px; /* Adjust margin-top for smaller screens */
  }

  .navitems {
    font-size: 12px; /* Adjust font size for smaller screens */
    top: 50px; /* Adjust top position for smaller screens */
  }

  .navitems span { 
    padding: 0 60px; /* Adjust padding for smaller screens */
  }
}
