@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.about {
  position: absolute;
  top: 550px;
  left: 50px;
  font-weight: 400;
  font-size: 16px;
}

.about h3{
  margin-right: 750px;
}


.quick {
  line-height: 2;
  position: absolute;
  top: 550px;
  right: 150px;
}

.quick span{
  color: #191919;
}


.about p{
  line-height: 2;
  text-align: justify;
}

.hf{
  text-decoration: none;
}
